@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-bold-webfont.woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-medium-webfont.woff');
    font-weight: 700;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy-extrabold-webfont.woff');
    font-weight: 800;
}
@font-face {
    font-family: 'Chronicle';
    src: url('../fonts/Chronicle Display Semibold.otf');
    font-weight: 600;
}
@font-face {
    font-family: 'Chronicle';
    src: url('../fonts/Chronicle Display Bold.otf');
    font-weight: 700;
}